*,*:after,*:before{
	margin:0;
	box-sizing: border-box;
	font-family:myFont;
	font-size: 16px;
	position: relative;
	scroll-behavior: smooth;
}
:root{
	--bgLightYellow-clr:#EFE6B9;
	--bgDarkOrange-clr:#C1A380;
}
@font-face{
	font-family: myFont;
	src: url(font/font.ttf);
}
body{
	background: var(--bgLightYellow-clr);
}



/*-------editing css start from here------*/
.container{
	width:1140px;
	margin-inline:auto;
}
header{
}
header h1{
	font-size:6rem;
	text-align: center;
    margin-top: .5em;
}
header .menu{
	list-style: none;
	display: flex;
	justify-content: space-around;
	margin:4em 0em;

}
header .menu li a{
	text-decoration: none;
	font-size:2rem;
	position:relative;
	color: black;
	border-bottom: 2px solid transparent;
	transition: .3s;
}
.wrapper-sec-2{
	display:flex;
	margin-top:6em;
}
.left-2{
	width:55%;
	display:grid;
	grid-template: 1fr 1fr / 1fr 1fr;
	padding-right: 2em!important;
	grid-gap: 1.1em;
	position:relative;
	margin-top:2em;

}
.img-2{
	width:305px;
}
.img-2 img{
	max-width: 100%;
	border-radius:10px;
}
.img-22{
	margin-right: 6em;
}
.img-22.img-2 {
    margin-top: 40px;
}
.right-2{
	width:45%;
	padding-left: 3em;
}
.img-25{
	position:absolute;
	top:20%;
	left:25%;
}
.det-2 p{
	font-size:1.8rem;
	margin-bottom:1em;
}
.learnMore{
	width:250px;
	text-align:center;
	font-size:2rem;
	text-decoration:none;
	color:white;
	background: #383838;
	padding:.5em .8em;
	border-radius:.2em;
	margin-top:2em;
	display:block;
	transition: 0.3s;
}
img.sec-2bg-tonImg {
    rotate: 30deg;
    max-width: 348px;
    margin: -3em 6em;
}
.sign{
	width:168px;
	margin-bottom:2em;
}
.sign img{
	max-width:100%;
}
header .menu li a:hover {
    border-bottom: 2px solid gray;
}

a.learnMore:hover {
    background: gray;
}

/*----sec-3----*/
#sec-3{
	padding: 8em 0em;
}
.top-left-sec-3{
	width: 45%;
}
.top-left-sec-3 h1{
	font-size:8rem;
	margin-bottom: 1em;
}
.top-sec-3{
	display:flex;
	gap: 5%;
	padding: 2em;
	position: relative;
	z-index: 5;
}
.top-left-sec-3 p {
    font-size: 2.25rem;
}

.top-right-sec-3 {
    width: 45%;
}

.top-right-sec-3 img {
    max-width: 100%;
}

.top-right-sec-3 a {
	display: block;
	font-size: 3.875em;
	text-decoration: none;
	color: black;
	margin: 3em 0em 3em;
}
img.image-sec-3top-bg {
    position: absolute;
    width: 472px;
    rotate: 20deg;
    margin-top: -5em;
    margin-left: 5em;
}
.bottom-sec-3{
	display:flex;
	gap: 1em;
	background:var(--bgDarkOrange-clr);
	padding: 11.875em 0em 0em 0em;
	border-radius: 50px;
	position: absolute;
	left: 0;
	top: 41.5em;
	z-index: 2;
}
.sec-3-wrapper {
    position: relative;
}
.bottom-right-sec-3 p {
    font-size: 1.8rem;
    padding-right: 0.5em;
}
.bottom-left-sec-3 img {
    max-width: 560px;
    padding: 1.5em 2em 2em;
}


/*--------sec-4 start here--------*/
div#sec-4 {
    margin-top: 20em;
    padding: 8em 0em 0em;
}
.sec-4-wrapper{
	background-image: url(image/4.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 50%;
}
.sec-4-wrapper h1 {
    font-size: 8em;
    text-align: center;
    margin-bottom: .5em;
}
.sec-4-top{
	display:flex;
	margin: 5em 0em 8em;
}
.sec-4-top-right {
    padding-left: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec-4-top-right p {
    font-size: 2.25rem;
}
.sec-4-bottom{
	display:flex;
	justify-content: space-between;
}
.sec-4-bottom-left{
	width:60%;
	display: grid;
	grid-template: 1fr 1fr / 1fr 1fr;
	position:relative;
	padding: 3em 0em;
}
.sec-4-bottom-right{
	width: 39%;
}
img.sec-4-bottom-image-2.sec4Image {
    margin-left: 1em;
}
.sec-4-bottom-image-3{
	position:absolute;
	top:35%;
	left:25%;
}
img.sec-4-bottom-image-3 {
    max-width: 55%!important;
}

.sec-4-bottom-right p {
    font-size: 2.25rem;
}

.sec-4-bottom-left img {
    max-width: 95%;
}
.box-wrapper{
	display:grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.box-sec-5 p{
	font-size:2.375rem;
}
.box-sec-5 img{
	max-width:100%;
}
.box-4 img{
	max-width:120%!important;
	margin-left: -5em;
	margin-top: 0em;
}
.box-2 p{
	margin-left:2.65em;
}
.box-3 p{
	margin-right: 3.5em;
}
.box-3.box-sec-5 {
    margin-top: 5em;
}
.box-3.box-sec-5 {
    margin-top: 8em;
}

.sec-5-wrapper h1 {
    font-size: 8em;
    text-align: center;
    margin: 1em 0em .8em;
}
.footer-wrapper h1 {
    font-size: 8rem;
    text-align: center;
    padding: .8em 0em .5em;
}

.foot-bg-wrapper {
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 25%;
    top: 6em;
}

.foot-bg-1 {
    width: 333px;
    rotate: 24deg;
    margin-left: -6em;
}

.foot-bg-1 img {
    max-width: 100%;
}

.foot-bg-2 {
    width: 333px;
    rotate: -24deg;
}

.foot-bg-2 img {
    max-width: 100%;
}

ul.foot-menu {
    position: absolute;
    top: 16em;
    left: 0em;
    list-style: none;
    padding-left: 0em;
}

ul.foot-menu li a {
    text-decoration: none;
    font-size: 3rem;
    margin-bottom: .3em;
    display: block;
    color: black;
}

footer {
    padding-bottom: 12em;
}
.foot-bg-2 {
    margin-left: 6em;
}



#menu-icon{
	color:red;
	font-size:2rem;
}




/*----scroll bar----*/
::-webkit-scrollbar{
	width:10px;
	background:var(--bgDarkOrange-clr);
}
::-webkit-scrollbar-thumb{
	height:10%;
	background:var(--bgLightYellow-clr);
	border-radius:10px;
}
/*----scroll bar----*/



/*------resposive strat here------*/
@media only screen and (max-width:1150px){
	.wrapper-sec-2{
		flex-direction: column;
		width:90%;
		align-items:center;
	}
	img.sec-2bg-tonImg{
		margin: -11em 6em;
	}
	.top-sec-3{
		flex-direction:column;
		align-items:center;
	}
	.right-2{
		width:80%;
	}
	.top-right-sec-3{
		margin:0em;
	}
	.top-right-sec-3 img{
		max-width:200%!important;
		margin-top: 13em;
	}
	div#sec-4{
		margin-top:0;
		padding:0;
	}
	.sec-4-top{
		flex-direction:column;
		align-items:center;
	}
	.sec-4-bottom{
		flex-direction:column;
		align-items:center;
	}
	.sec-4-top-right p{
		width:80%;
		margin-inline:auto;
		margin-top:.5em;
		text-align:center;
	}
	.box-wrapper{
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
	}
	.box-2 p{
		width:90%;
		margin-inline:auto;
		margin-top:1em;
		text-align:center;
		text-align:center;
	}
	.box-3 p{
		width:90%;
		margin-inline:auto;
		margin-top:1em;
		text-align:center;
	}
	.sec-4-bottom-right p{
		text-align:center;
	}
	ul.foot-menu{
		display:block;
		width:100%;
		margin-inline:auto;
		text-align:center;
	}
	.top-left-sec-3{
		width:80%;
		text-align:center;
	}
	.top-right-sec-3 a{
		margin:5em 0em 3em;
	}
}
/*------resposive strat here------*/